@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Playfair+Display&display=swap');


* {
	margin: 0;
}

body {
	background-color: #FFF3E9;
    background-size: 100%;
}

.logo img{
	width: 100px;
	height: 100px;
}

.navbar {
	flex-basis: 50%;
}

.navbar a{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	color: black;
	letter-spacing: 0.05em;
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  	text-underline-offset: 0.2em;
  	transition: text-decoration-color 150ms, text-underline-offset 200ms;
  	margin-left: 5%;
}

.navbar a:hover {
	text-decoration-color: black;
  	text-underline-offset: 0.4em;
}


.footer {
	margin-top: 5%;
	background-color: #353246;
	display: flex;
	justify-content: space-around;
}

.footer-text {
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: white;
	margin-top: 2%;
	margin-bottom: 1.5%;
}

#socials img {
	align-self: end;
	margin-top: 100%;
	width: 35px;
	height: 35px;
}